<form action="/save" method="POST">
    <input type="hidden" name="id" value="{{id}}">
    <p>Titulo: </p>
    <input type="text" name="titulo">
    <p>Conteúdo: </p>
    <textarea name="conteudo"></textarea>
    <br>
    <button type="submit">salvar postagem</button>
</form>